.circle {
  border-radius: 50%;
}

img.responsive-img {
  max-width: 100%;
  height: auto;
}

.menu {
  margin-top: 3em;
}

.menu .md-button {
  font-size: 2em !important;
  text-transform: none !important;;
  padding: 1em 2em !important;;
}

.content {
  margin: 1em;
  font-size: 20px;
}
