<div layout="vertical" layout-fill>
  <md-content>
    <header class="jumbotron">
      <img src="assets/images/avatar-me.png" class="circle responsive-img">
      <h1>Vicente Neto</h1>
      <p>Software Developer</p>

      <div layout="row" layout-align="space-around center" class="menu">
        <md-button ng-href="{{ awesomeThing.url }}" class="menu-option">About me</md-button>
        <md-button ng-href="{{ awesomeThing.url }}" class="menu-option">Resume</md-button>
        <md-button ng-href="{{ awesomeThing.url }}" class="menu-option">Contact</md-button>
        <md-button ng-href="{{ awesomeThing.url }}" class="menu-option">Resources</md-button>
      </div>
    </header>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in home.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <h3 class="md-title">{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
        </div>
      </md-card>
    </div>
  </md-content>
</div>
